PRODUCT_DB_HOST=product-db
PRODUCT_DB_PORT=5432
PRODUCT_DB_USER=product_user
PRODUCT_DB_PASSWORD=change_this_product_password
PRODUCT_DB_NAME=products_db

ORDER_DB_HOST=order-db
ORDER_DB_PORT=5432
ORDER_DB_USER=order_user
ORDER_DB_PASSWORD=change_this_order_password
ORDER_DB_NAME=orders_db
